version: '3.8'
services:
  localstack:
    image: localstack/localstack:latest
    ports:
      - "4566:4566"
    environment:
      - SERVICES=s3
      - DEBUG=1
    volumes:
      - "./localstack-data:/var/lib/localstack"
      - "/var/run/docker.sock:/var/run/docker.sock"
  
  postgres:
    image: postgres:15
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=expense_user
      - POSTGRES_PASSWORD=expense_pass
      - POSTGRES_DB=expense_tracker
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data:

